@charset "utf-8";
@import url("font.css");
div {
	/* border: 0; */
	/* margin: 0; */
	/* padding: 10px 0 0 0; */
	backface-visibility: hidden;
}
html { overflow:hidden; }
body {
	margin:0px;
	padding:0px;
	width: 360px;
	height: 100%;
	background:#FFF;/*#00B3B3;*/
	overflow:hidden;
	font-family:Droid Sans,arial; font-size:12px;
}
#Wrap {
	position: relative;
	color: #fff;
	width: 360px;
	height: 567px;
	overflow: hidden;
	/*border:  1px solid black;*/
}

#pageWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 360px;
	height: 567px;
}
#pageWrapper>.page {
	width: 360px;
	height: 567px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #B3B3B3;
	/* background-color: #008C8C;
	background-color: #AA5B5B; */
	/*padding: 13px; height: 589px; */
	text-align: center;
	opacity: 0.2;
	-webkit-transform: scale(0.8, 0.8);
	-webkit-transition: all 0ms;
	transition: all 0ms;
	display: none;
}
#pageWrapper>.page:first-child{
	display: block;
	z-index: 10;
	opacity: 1;
	-webkit-transform: scale(1, 1);
}

#pageWrapper>.page.slider {
	width: 334px;
	position: absolute;
}

#pageWrapper>.page.top {
	-webkit-transform: translate(0px, 0px);
	-webkit-transition: all;
	transition: all;
	display: block;
	z-index: 10;
	zoom: 1;
	opacity: 1;
}
#pageWrapper>.page.middle {
	-webkit-transform: translate(0px, 0px);
	-webkit-transition: all;
	transition: all;
	display: none;
	z-index: 1;
	zoom: 1;
	opacity: 0.2;
}

#pageWrapper>.page>div {
	/*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);*/
	overflow: hidden;
        background: url(../images/ico_plus.png) no-repeat center center;
}


.edititem {
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	background-color: #FFF;
}


.layoutType1 {
	height: 567px;
}

.layoutType2-1 {
	height: 281px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

.layoutType2-2 {
	height: 281px;
	text-align:center;
	z-index: 1;
}

.layoutType3-1 {
	position: absolute;
	height: 212px;
	width: 178px;
	border-right: 1px dashed #ccc;	
	z-index: 1;
}

.layoutType3-2 {
	position:absolute;
	height: 212px;
	width: 178px;
	left: 182px;
	z-index: 2;
}
.layoutType3-3 {
	position: absolute;
	height: 350px;
	width: 360px;
	top: 217px;
	border-top: 1px dashed #ccc;	
}

.layoutType4-1 {
	position: absolute;
	height: 350px;
	width: 360px;
	border-bottom: 1px dashed #ccc;	
}

.layoutType4-2 {
	position: absolute;
	height: 212px;
	width: 178px;
	top: 355px;
	border-right: 1px dashed #ccc;	
}
.layoutType4-3 {
	position:absolute;
	height: 212px;
	width: 178px;
	top: 355px;
	left: 182px;
}


.layoutType5-1 {
	position: absolute;
	height: 186px;
	width: 178px;
        border-right: 1px dashed #ccc;	
	z-index: 1;
}

.layoutType5-2 {
	position:absolute;
	height: 186px;
	width: 178px;
	left: 182px;
	
	z-index: 2;
}
.layoutType5-3 {
	position: absolute;
	height: 186px;
	width: 360px;
	top: 190px;
	border-top: 1px dashed #ccc;	
	border-bottom: 1px dashed #ccc;
}

.layoutType5-4 {
	position: absolute;
	height: 186px;
	width: 178px;
	top: 380px;
	border-right: 1px dashed #ccc;	
}
.layoutType5-5 {
	position:absolute;
	height: 186px;
	width: 178px;
	top: 380px;
	left: 182px;
	
}

.layoutType6-1 {
	position: absolute;
	height: 186px;
	width: 360px;
	border-bottom: 1px dashed #ccc;	
}

.layoutType6-2 {
	position:absolute;
	height: 186px;
	width: 178px;
	top: 190px;
	border-right: 1px dashed #ccc;	
	z-index: 1;
}
.layoutType6-3 {
	position: absolute;
	height: 186px;
	width: 178px;
	top: 190px;
	left: 182px;
	
	z-index: 2;
}

.layoutType6-4 {
	position: absolute;
	height: 186px;
	width: 360px;
	top: 380px;
	border-top: 1px dashed #ccc;	
}

.box {
	position:absolute;
	bottom:15px;
	width:360px;
	text-align:center;
	font-size:14px;
}

.pageNum {
	position: absolute;
	bottom: 3px;
	text-align: center;
	font-size: 14px;
	width: 100%;
	left: 0px;
	color: #fff;
	display:none;
}

.photoBox {
	width: 100%;
	height: 100%;
	vertical-align:middle;
	text-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/*background-repeat:no-repeat;*/
	background-size:cover;
}
.audioBox {
	width: 100%;
	height: 100%;
	vertical-align:middle;
	text-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	background-color: #B3B3B3;
}


.textBox {
   	vertical-align:middle;
	text-align:left;
	display:-webkit-box;
	-webkit-box-pack:inherit;
	-webkit-box-align:start;
   	background-color: white;
   	height: 100%;
   	color: black;

}

.dev {
	display: none;
	position: absolute;
	bottom: 10px;
}


.dev_pop {
	position: absolute;
	width: 360px;
	height: 567px;
	top: 0px;
	left: 0px;
	background: rgba(18, 40, 87, 0.56);
	display: none;
}

.dev_pop>div {
	position: relative;
	height: 315px;
	width: 320px;
	top: 150px;
	left: 20px;
	background: #fff;
}

.dev_pop>div>div {
	position: relative;
	top: 30px;
	margin: 20px;
	display:none;
}

.block_wrap {
	position: absolute;
	width: 360px;
	height: 567px;
	top: 0px;
	left: 0px;
	display:none;
	z-index: 1;
	background-color: #000;
	opacity: 0.4;
}
.noborder{border:none}
