@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('../font/DroidSans.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../font/DroidSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url('../font/Lemon-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../font/DroidSansMono.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url('../font/DroidSerif.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('../font/DroidSerif-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('../font/DroidSerif-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('../font/DroidSerif-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  src: local('Capriola Regular'), local('Capriola-Regular'), url('../font/Capriola.woff') format('woff');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url('../font/Courgette.woff') format('woff');
}
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url('../font/Delius.woff') format('woff');
}
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: local('Fugaz One'), local('FugazOne-Regular'), url('../font/Fugaz_One.woff') format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('../font/Istok_Web.woff') format('woff');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),url('../font/Kaushan_Script.woff') format('woff');
}
@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  src: local('Knewave'), local('Knewave-Regular'),url('../font/Knewave.woff') format('woff');
}
@font-face {
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  src: local('Kotta One'), local('KottaOne-Regular'), url('../font/Kotta_One.woff') format('woff');
}
@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda One'), local('MeriendaOne-Regular'), url('../font/Merienda_One.woff') format('woff');
}
@font-face {
  font-family: 'Nova Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Script'), local('NovaScript'), url('../font/Nova_Script.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../font/Open_Sans.woff') format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('../font/PT_Serif.woff') format('woff');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url('../font/Righteous.woff') format('woff');
}
@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  src: local('Shanti'), url('../font/Shanti.woff') format('woff');
}
@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: 400;
  src: local('The Girl Next Door'), local('TheGirlNextDoor'),url('../font/The_Girl_Next_Door.woff') format('woff');
}
/*
* {
    font face="DroidSans,DroidSans-Bold,Lemon-Regular,DroidSerif-Bold,DroidSerif-BoldItalic,DroidSerif-Italic,DroidSerif-Regular,Capriola,Courgette,Delius,Fugaz_One,Istok_Web,Kaushan_Script,Knewave,Kotta_One,Merienda_One,Nova_Script,Open_Sans,PT_Serif,Righteous,Shanti,The_Girl_Next_Door;"
}
*/

